@media screen and (max-width:767px) {
    .main-header{
        padding: 30px 0;
    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
    }
    .header-logo{
        font-size: 16px;
    }
    ul{
        gap: 10px;
        display: none;
    }
    li{
        font-size: 10px;
    }
    .li{
        display: block;
    }
/* =================================header-section======================= */
    .header-section{
        margin: 30px auto;
        width: 300px;
    }
    .header-title{
        align-items: center;
        font-size: 15px;    
    }
    .sub-title{
        margin-top: 15px ;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .btn {
        font-size: 11px;
        padding: 10px;
    }
    
    .main-banner{
        width: 1250px;
        height: 610px;
        margin: 50px auto;
    
    }
    .banner-image{
        max-width: 100%;
    }
}