@media screen and (max-width:767px) {
    .main-header{
        padding: 30px 0;
    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
    }
    .header-logo{
        font-size: 16px;
    }
    ul{
        gap: 10px;
        display: none;
    }
    li{
        font-size: 10px;
    }
    .li{
        display: block;
    }
/* =================================header-section======================= */
    .header-section{
        margin: 30px auto;
        width: 300px;
    }
    .header-title{
        align-items: center;
        font-size: 15px;    
    }
    .sub-title{
        margin-top: 15px ;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .btn {
        font-size: 11px;
        padding: 10px;
    }
    
    .main-banner{
        width: 350px;
        margin: 5px auto;
    }
    .banner-image{
        border-radius: 10px;
    }
    /* ===========================================second box================ */
    .second-box{
        display: block;
        margin-top: 10px;
        gap: 5px;
        margin-left: 55px;
    }
    
    .image-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .imgs{
        width: 280px;
        height: 280px;
    }
    .image-title-box{
        margin-top: 40px;
    }
    .title-box-title{
        font-size: 25px;
        margin-bottom: 15px;
        margin-left: 45px;
    }
    .title-box-descriptom{
        font-size: 15px;
        margin-bottom: 10px;
        width: 260px;
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    
}