*{
    padding: 0;
    margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.btn {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    color: #ffff;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
}
.btn:hover{
    background-color: antiquewhite;
    color: #424242;
    box-shadow: 3px 3px #424242;
}
/* =============================================================header-menu */
.main-header{
    background-color: #FF900E1A;
    padding: 50px 0;
}
.header-logo{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #131313;

}
.header-menu {
    width: 1250px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.nev-section{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
     gap: 34px;
}
.li{
    display: none;
}
li {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    color: #424242;
    font-family: 'Work Sans', sans-serif;
}
/* ===========================================================header-title */
.header-section{
    margin: 70px auto;
    align-items: center;
    text-align: center;
    width: 900px;
}

.header-title{
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.sub-title{
    margin-top: 15px ;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    font-family: 'Work Sans', sans-serif;
}
.main-banner{
    width: 1250px;
    /* height: 610px; */
    margin: 50px auto;

}
.banner-image{
    max-width: 100%;
}
/* .banner-image:hover{
    transform: scale(.9);    
} */
/* =====================================second-box========================== */
.second-box{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    gap: 70px;
}
.image-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.imgs{
    width: 300px;
    height: 300px;
}
/* ======================================================= */
.image-title-box{
    margin-top: 160px;
}
.title-box-title{
    font-size: 45px;
    margin-bottom: 45px;
    color: #727272;
    font-weight: 500;
}
.title-box-descriptom{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 32px;
}
.one-span{
    color: #131313;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}
.two-span{
    color: #FF900E;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}