*{
    padding: 0;
    margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.btn {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    color: #ffff;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
}
.btn:hover{
    background-color: antiquewhite;
    color: #424242;
    box-shadow: 3px 3px #424242;
}
/* =============================================================header-menu */
.main-header{
    background-color: #FF900E1A;
    padding: 50px 0;
}
.header-logo{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #131313;

}
.header-menu {
    width: 1250px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.nev-section{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
     gap: 34px;
}
.li{
    display: none;
}
li {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    color: #424242;
    font-family: 'Work Sans', sans-serif;
}
/* ===========================================================header-title */
.header-section{
    margin: 70px auto;
    align-items: center;
    text-align: center;
    width: 900px;
}

.header-title{
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.sub-title{
    margin-top: 15px ;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    font-family: 'Work Sans', sans-serif;
}
.main-banner{
    width: 1250px;
    /* height: 610px; */
    margin: 50px auto;

}
.banner-image{
    max-width: 100%;
}
/* .banner-image:hover{
    transform: scale(.9);    
} */
/* =====================================second-box========================== */
.second-box{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    gap: 70px;
}
.image-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.imgs{
    width: 300px;
    height: 300px;
    transition: 1s;
}
.imgs:hover{
    transform: scale(.9);
}
/* ======================================================= */
.image-title-box{
    margin-top: 160px;
}
.title-box-title{
    font-size: 45px;
    margin-bottom: 45px;
    color: #727272;
    font-weight: 500;
}
.title-box-descriptom{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 32px;
}
.one-span{
    color: #131313;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}
.two-span{
    color: #FF900E;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}
/* ==============================================================third-bannner-site */

.third-bannner-site{
    width: 1250px;
    height: 778px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.right-banner{
    width: 590px;
    height: 701px;
}
.right-banner-title{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.right-banner-subtitile{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #727272;
    margin-bottom: 8px;
}

.sub-div{

}
.sub-div-title{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-div-dscp{
    font-size: 16px;
    font-weight: 400;
    color:#727272 ;
}
.sub-div-one {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    /* box-shadow: 29px 11px 92px -55px; */
    box-shadow: -29px 21px 43px -39px;

    margin-bottom: 12px;
}
 .left-banner{
    width: 612px;
    height: 702px;
    /* width: 800px;
    height: 1000px; */
} 
 .banner-images{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
/* ====================small-div=============== */
.small-div {
    color: #ffff;
    background-color: #FF900E;
    margin-top: -155px;
    position: absolute;
    padding: 30px;
    border-radius: 5px;
    margin-left: 625px;
    transition: .9s;
}
.small-div:hover{
    background-color: rgb(97, 82, 82);
    color: #FF900E;
    padding: 35px;
    border: none;
}
.small-div-title{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.small-div-des{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}
/* =============== */
/* ================================= 
Some-Facts-section */
.some-facts-section{
    width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
}

.some-facts-title{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;

}
.some-facts-sub{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #727272;
    line-height: 26px;
    margin-bottom: 50px;

}
/* ==================icone-section */
.icone-section {
    display: flex;
    justify-content: center;
    gap: 125px;
    align-content: center;
    flex-direction: row;
    margin-bottom: 120px;
}
.icon-box{

    border: 1px solid #FF900E;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    transition: .9s;
}
.icon-box-title{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: #3d3a3a;
    margin: 2px auto;


}
.icon-box-des{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #727272;

}
.icon-box:hover{
    transform: rotate3d(20deg);
    background-color: #727272;
    color: rgb(101, 124, 145);
    text-transform: capitalize;
}

/* ==============.icon-box-finish========================== */

/* ====================Our Sponspors============= */
.our-sponspors{
    width: 1250px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
    font-family: 'Work Sans', sans-serif;


}
.sponsor-descripton {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin: 10 auto;
    width: 500px;
    color: #727272;
    
}
.sponser-image{
    
    display: flex;
    justify-content: center;
    gap: 125px;
    align-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 60px;
}
.black-images{
    filter: grayscale(100%);
}
/* -=================================================bonas point=========================== */
.bonas-point{
 width: 1250px;
 margin: 0 auto;
}
.form-title{
    font-size: 45px;
    font-weight: 600;
    color: #727272;
    font-family: 'Work Sans', sans-serif;


}
.from {
    text-align: center;
    padding: 50px;
    background: antiquewhite;
    border-radius: 10px;
}
.label{
    font-size: 20px;
}
.fieldset-tag {
    text-align: left;
    width: 324px;
    margin: 0 auto;
}
input{
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 12px;
    border: 2px solid grey;
}
.legend{
    font-size: 20px;
}
.point{
    font-size: 17px;
}
.text-box{
    width: 310px;
}

/* ==========================last section====================== */
.main-footetr{
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #FFF4E7;
    padding: 50px 0;
    text-align: center;

}
.footer-title{
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    font-family: 'Work Sans', sans-serif;


}

/* ======================================= */
.boll {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .boll:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(243, 14, 14);
    border-color: rgb(7, 218, 225) transparent rgb(3, 230, 113) transparent;
    animation: boll 1.2s linear infinite;
  }
  @keyframes boll {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  